html{
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #0088ff;
    font-family:Arial, Helvetica, sans-serif;
    width: 100v;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right:0px;
}
#background{
    background-color:#0088ff ;
    width:100vw;
}
#goal{
    width:100vw;
    height:10vh;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 25px;
}
#gameplay{
    position: relative;
    background-color: #994444; 
    border-radius: 0px 0px 40px 40px; 
    width:100vw;
    height:90vh;
    top:0px
}
#controller{
    position: relative;
    border-radius: 40px 40px 0px 0px;
    background-color: #40a6ff;
    width:100vw;
    height:10vh;
    bottom:0vh;
}
body{
    margin: 0px;
    height: 100vh;
}