html{
    overflow: hidden;
    color: #0088ff;
}
#background{
    background-color:#0088ff ;
    width:100vw;
}
#goal{
    width:100vw;
    height:10vh;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}